
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: prod
  labels:
    app: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      imagePullSecrets:
        - name: acr-creds
      
      containers:
        - name: webapp
          image: mydockeracrtst.azurecr.io/webapp:latest
          ports:
            - containerPort: 8085
          env:
            - name: PORT
              value: "8085"
          readinessProbe:
            httpGet:
              path: /
              port: 8085
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8085
            initialDelaySeconds: 30
            periodSeconds: 15
